@tailwind base;
@tailwind components;
@tailwind utilities;

.body{
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.h1{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}